@import "compass";
@import "susy";


@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";


/* ROOT */
/* 
 * base layout for mobile portrait:
 * (5*16) * 3 + (2*16) + (2*24) = 320
*/

$total-cols : 3;
$col-width : 5em;
$gutter-width : 1em;
$side-gutter-width : 1.5em;


html {
	overflow-y : scroll;
}


body { 
	margin : 0 auto;
	padding : 0;
	color : $font-color;
	background: $main-bg;
}


#container {
	@include container();
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	@if $show-grid-backgrounds {
		@include susy-grid-background;
	} @else {
		background: $page-bg;
	}	
}

#page {
	@include clearfix();
/*	background: #F9F9F9 url(../img/page_bg.png) repeat-x;
*/}


/* FIGURES & MEDIA */

@import "partials/media";

/* TABLES */

@import "partials/tables";

/* FORMS  */

@import "partials/forms";

/* BANNER */

header[role=banner] {
	@include padding-leader(1);
	@include padding-trailer(1);
	background: $header-bg;
	
	a {
	}
	div {
		@include full();
	}
	
	strong {
		font-family: $serif-font;
		@include adjust-font-size-to(48px,1);
		text-transform: lowercase;
	}	
}


/* NAVIGATION */
nav {
	background: #ffffff;
	@include single-box-shadow();

	margin: 0;
	ul {
		list-style: none;
		@include adjust-font-size-to(18px);
		margin: 0;
		
		a {
			height: 100%;
			background: #FFFFFF;
			border-bottom: 1px solid $border-color;
			padding: 8px 8px;
			text-transform: uppercase;
			display: block;
			@include box-shadow(0);
			@include transition-property(all);
			@include transition-duration(0.5s);
		}
		a:hover {
			@include box-shadow(10px);
			text-decoration: none;
			background: $link-color-hover;
			color: #ffffff;
		}
	}
}



/* CONTENT */

section {
	@include trailing-border();
	border-color: $border-color;
	@include trailer(2);
}

.content {
	padding: 40px 0;
	@include full();	
}


/* MAIN */
div[role="main"] {

}

#about header h1 {
	@include adjust-font-size-to(48px, 1, $base-line-height);
	@include text-shadow();
}

/* COMPLIMENTARY */

aside[role="complementary"] {
}

@import "partials/sidebar/social";

/* CONTENTINFO */
footer[role="contentinfo"] {
	color: $footer-color;
	background: $footer-bg;
	
	a {
		color: $footer-link-color;		
	}
	
	p {
		@include adjust-font-size-to(12px);
		@include trailer(0);
	}
}

#footercontent {
	@include full();	
	@include padding-leader(0.5);
	@include padding-trailer(0.5);
	padding-left: $base-font-size;
}

/* GLOBAL OBJECTS */

@import "partials/helpers";
@import "partials/jquery-collapsible";


/* MEDIA QUERIES */

/*Print __________________________________________________________________________________________________________ */
@import "media/print";

/*480px __________________________________________________________________________________________________________ */
@import "media/480";

/*768px __________________________________________________________________________________________________________ */
@import "media/768";

/*992px __________________________________________________________________________________________________________ */
@import "media/992";

/*1382px __________________________________________________________________________________________________________ */
@import "media/1382";
