/* ROOT */
/* 
 * base layout for mobile portrait:
 * (5*16) * 3 + (2*16) + (2*24) = 320
*/

$total-cols : 3;
$col-width : 5em;
$gutter-width : 1em;
$side-gutter-width : 1.5em;

.group {
    @include pie-clearfix;
}


html {
    overflow-y : scroll;
}


body { 
    margin : 0 auto;
    padding : 0;
    color : $font-color;
    background: $page-bg;
    position: relative;
}


#container {
    @if $show-grid-backgrounds {
    } @else {
        background: $main-bg;
    }   
}

#page {
    @extend .group;
}


/* BANNER */

header[role=banner] {
    @include susy-grid-background;
    @include bottom-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0);

    background: lighten($main-bg, 2%);  

    .banner-container {
        @include container();
    }
    
    .banner-content {
        @include full();
        position: relative;

    }

    text-shadow: lighten($main-bg, 8) 0 1px;

    h1 {
        color: lighten($font-color, 10%);
        @include adjust-font-size-to(24px, 2, $base-font-size);
        @include trailer(0);
    }
    
    h2 {
        margin-bottom: 0;
    }   

}

/* NAVIGATION */

nav[role=navigation] {
    ul {
        @include trailer(1);
        margin: 0;
        list-style: none;
    }
    
    li {
        list-style: none;
        @include bottom-shadow-border(1px, 1px, lighten($sidebar-border,5), lighten($shadow-border-color,3), 0.5);;
        @include padding-leader(0.5);
        margin: 0;
        @include transition-property(all);
        @include transition-duration(0.3s);
        
        a {
            display: block;
        }
    }
    li:last-child {
        border: none;
        @include box-shadow(none);
    }

    div.ui-collapsible-content-collapsed {
            display: hidden;
    }    
}

.navtoggle {
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 64px;
    background: $main-bg;
    margin: 0;
    @include padding-leader(0.75, 14px);
    @include padding-trailer(0.5, 14px);
    @include adjust-font-size-to(14px, 1, $base-font-size);
    text-align: center;
    z-index: 100;
    cursor: pointer;
    @include apply-side-shadow-border(left, 1px, 1px, $sidebar-border, $shadow-border-color, $lines: 0);
    @include apply-side-shadow-border(right, 1px, 1px, $sidebar-border, $shadow-border-color, $lines: 0);
    @include bottom-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0);
    @include border-bottom-radius(12px);
}



/* STAGE */
.stage {
    @include susy-grid-background;
    @include padding-leader(2);

    > div {
        @include container();
    }
    hgroup {
        @include full();
    }

    text-shadow: lighten($main-bg, 8) 0 1px;

    h1 {
        color: $link-color;
        @include adjust-font-size-to(44px, 2, $base-font-size);
        @include trailer(0.5, 48px);
    }
    
    h2 {
        color: $font-color;        
    }   

}


/* CONTENT */

.content {
    @include container();
    @include susy-grid-background;
    
    @include padding-leader(2);
    @include padding-trailer(2);

    section {
        @include trailer(2);
        @extend .group;
    }

}


/* MAIN */
div[role="main"] {
    @include padding-trailer(2);
    @include full();
}



/* COMPLIMENTARY */

aside[role="complementary"] {
    @include full();

    section {
        @include trailer(2);
    }
}

/* CONTENTINFO */

#footer-container {
    @include container();   
}

#footer-content {
    @include full();
}