/* ROOT */
/* 
 * base layout for mobile portrait:
 * (5*16) * 3 + (2*16) + (2*24) = 320
*/

$total-cols : 3;
$col-width : 5em;
$gutter-width : 1em;
$side-gutter-width : 1.5em;

.group {
    @include pie-clearfix;
}


html {
    overflow-y : scroll;
}


body { 
    margin : 0 auto;
    padding : 0;
    color : $text-color;
    background: $page-bg;
    position: relative;
}


#container {
    @if $show-grid-backgrounds {
    } @else {
        background: $main-bg;
    }   
}

#page {
    @extend .group;
}


/* BANNER */

header[role=banner] {
    @include susy-grid-background;
    /* background-color: $banner-bg; */
    color: $banner-color;
    border-top: $banner-border;
    @include bottom-shadow-border(1px, 1px, $border-color, $shadow-border-color, 0);

    .banner-container {
        @include container();
    }
    
    .banner-content {
        @include full();
        position: relative;
    }


    h1 {
        @include adjust-font-size-to(24px, 2, $base-font-size);
        @include trailer(0);
        a {
            color: $banner-title-color;

        }
    }
    
    h2 {
        @include trailer(0.5);
    }   

}

/* NAVIGATION */

nav[role=navigation] {

    ul {
        @include trailer(1);
        margin: 0;
        list-style: none;
    }
    
    li {
        list-style: none;
        @include bottom-shadow-border(1px, 1px, darken($banner-bg,10%), lighten($banner-bg,10%), 0);;
        
        margin: 0;
        @include transition-property(all);
        @include transition-duration(0.3s);

    }

    li:last-child {
        border: none;
        @include box-shadow(none);
    }

     
    a {
        display: block;
        text-transform: uppercase;
        @include padding-leader(0.5);
        @include padding-trailer(0.5);
        @include link-colors($nav-color, $hover: $nav-color-hover);     
    }

    .selected a {
        font-weight: 700;
        color: $nav-selected-color;
    }

    .ui-collapsible-heading {
        @include reset-select();   
    }

    .ui-collapsible-content-collapsed {
        display: hidden;
    }

    .ui-collapsible-content {
        margin-top: 0;
    }
     
}

.navtoggle {
    position: absolute;
    right: 0;
    top: -8px;
    width: 64px;
    height: 64px;
    background: $nav-toggle-bg;
    margin: 0;
    text-align: center;
    z-index: 100;


    @include border-bottom-radius(12px);
    @include single-box-shadow(lighten($text-color, 2%), 1px, 1px, 6px, 0);  


    a {
        color: $nav-toggle-color;
        @include adjust-font-size-to(14px, 0.75, $base-font-size);
        text-shadow: darken($main-bg-color, 5%) 0 1px;
        padding: 0 8px;
        @include padding-leader(0.5, 14px);
        @include padding-trailer(0.5, 14px);        
        display: block;
        text-transform: uppercase;
    }
}



/* STAGE */
.stage {
    @include padding-leader(1.5);
    @include padding-trailer(2);
    background: $stage-bg;
    @include bottom-shadow-border(1px, 1px, $border-color, $shadow-border-color, 0);
    @include text-shadow(rgba(0, 0, 0, 0.1) 1px 1px 0);
    @include single-box-shadow(rgba(0,0,0, 0.1), 0, 0, 50px, 60px, true);  

    > div {
        @include container();
    }
    hgroup {
        @include full();
    }

    h1 {
        color: $stage-title-color;
        @include adjust-font-size-to(44px, 2, $base-font-size);
        @include trailer(0.5, 44px);
    }
    
    h2 {
        color: $stage-subtitle-color;; 
        @include adjust-font-size-to(22px, 1, $base-font-size);        
        margin-bottom: 0;
    }   

}


/* CONTENT */

.content {
    @include container();
    @include grid-background($total-cols, $col-width, $gutter-width, $side-gutter-width);
    
    @include padding-leader(2);

    section {
        @include trailer(2);
        @extend .group;

        >:last-child {
            margin-bottom: 0;
        }
    }

}


/* MAIN */
div[role="main"] {
    @include full();
}



/* COMPLIMENTARY */

aside[role="complementary"] {
    @include full();

    section {
        @include trailer(2);
    }
}

/* CONTENTINFO */

#footer-container {
    @include container();   
}

#footer-content {
    @include full();
}