@media only screen and (min-width: 480px) {
	/* ROOT */

	$total-cols : 5;
	$col-width : 5em;
	$gutter-width : 1em;
	$side-gutter-width : 1em;

	#container {
	}


	/* HEADINGS */
	/* TYPOGRAPHY */
	/* LINKS */
	/* FIGURES & IMAGES */
	/* TABLES */
	/* FORMS */
	/* BANNER */

	header[role="banner"] {
		> div {
			@include container();
		}
	}
	
	#header-content {
		@include full();
	}	

	/* NAVIGATION */
	/* CONTENT */
	.content {
		@include container();
		@include susy-grid-background;
		
	}


	/* MAIN */
	div[role="main"] {
		@include full();
	}

	/* COMPLIMENTARY */
	aside[role="complementary"] {
		@include full();
	}	
	.social {
		@include inline-block-list(0);

		li {
			@include trailer(0.5, $base-font-size);
			width: 49%;
		}	
	}	
	
	/* CONTENTINFO */
	footer[role="contentinfo"] {
	}

	#footer-container {
		@include container();	
	}

	#footer-content {
		@include full();
	}

}/*/mediaquery*/
