@media only screen and (min-width: 480px) {
    /* ROOT */

    $total-cols : 5;
    $col-width : 5em;
    $gutter-width : 1em;
    $side-gutter-width : 1em;

    #container {
    }


    /* HEADINGS */
    /* TYPOGRAPHY */
    /* LINKS */
    /* FIGURES & IMAGES */
    /* TABLES */
    /* FORMS */
    /* BANNER */
    header[role=banner] {
        .banner-container {
            @include grid-container(false);
        }
        
        .banner-content {
            @include full();
        }       
    }

    /* NAVIGATION */

    
    /* STAGE */
    .stage {
        > div {
            @include grid-container(false);
        }
        hgroup {
            @include full();
        }
    }


    /* CONTENT */
    .content {
        @include grid-container(false);
        @include grid-background($total-cols, $col-width, $gutter-width, $side-gutter-width);
        
    }

    #blog-archives {
        article {
            @include box-shadow(none);
            border: none;
        }
    } 

    /* MAIN */
    div[role="main"] {
        @include full();
    }

    /* COMPLIMENTARY */
    aside[role="complementary"] {
        @include full();
    }   
    .social {
        @include inline-block-list(0);

        li {
            width: 49%;
        }   
    }   
    
    /* CONTENTINFO */
    footer[role="contentinfo"] {
    }

    #footer-container {
        @include grid-container(false);
    }

    #footer-content {
        @include full();
    }

}/*/mediaquery*/
