@media only screen and (min-width: 768px) {

	$total-cols : 8;
	$col-width : 5em;
	$gutter-width : 1em;
	$side-gutter-width : 1em;

	/* ROOT */
	#container {
		@include container;
		@include susy-grid-background;
	}
   
	/* HEADINGS */
   
   
	/* TYPOGRAPHY */
	/* LINKS */
	/* FIGURES & IMAGES */
	/* TABLES */
	/* FORMS */
	/* BANNER */
	header[role="banner"] {
		div {
			@include full();
		}
	}

	/* NAVIGATION */
	nav {
	
		margin: 0 0 20px 0;
		ul {

			@include horizontal-list(0);
			@include full();		
			li {
				a {
					border-bottom: none;
				}
			}
		}
	}
	/* CONTENT */
	.content {
		@include columns(8);
		@include alpha();
		@include omega();
		clear: none;
		margin-left: 0;
	}
	/* 11.MAIN */
	div[role="main"] {

	}
	/* MAIN */
	/* COMPLIMENTARY */
	aside[role="complementary"] {
		@include full();
	}
	/* CONTENTINFO */


}/*/mediaquery*/
