@media only screen and (min-width: 768px) {

	$total-cols : 8;
	$col-width : 5em;
	$gutter-width : 1em;
	$side-gutter-width : 1em;

	/* ROOT */
	#container {
	}
   
	/* HEADINGS */
   
   
	/* TYPOGRAPHY */
	/* LINKS */
	/* FIGURES & IMAGES */
	/* TABLES */
	/* FORMS */
	/* BANNER */
	header[role=banner] {
		> div {
			@include container();
		}
		hgroup {
			@include full();
		}		
	}

	/* NAVIGATION */
	header[role="navigation"] {
		> div {
			@include container();
		}
	}

	#header-content {
		@include full();
	}

	nav {
	
		margin: 0 0 20px 0;
		ul {

			@include horizontal-list(0);
			@include full();		
			li {
				a {
					border-bottom: none;
				}
			}
		}
	}
	/* CONTENT */
	.content {
		@include container;
		@include susy-grid-background;		
	}
	
	/* 11.MAIN */
	div[role="main"] {
		@include full();

	}
	/* MAIN */
	/* COMPLIMENTARY */
	aside[role="complementary"] {
			@include full();
	}
	
	.social {
		li {
			width: 33,3333333333%;
		}	
	}	
	/* CONTENTINFO */
	#footer-container {
		@include container();	
	}

	#footer-content {
		@include full();
	}


}/*/mediaquery*/
