@media only screen and (min-width: 992px) {

    /* ROOT */
    $total-cols : 16;
    $col-width : 3em;
    $gutter-width : 0.75em;
    $side-gutter-width: 1.5em;

    #container {
    }
    /* HEADINGS */
    /* TYPOGRAPHY */
    /* LINKS */
    /* FIGURES & IMAGES */
    /* TABLES */
    /* FORMS */
    /* BANNER */
    header[role=banner] {
        .banner-container {
            @include grid-container(false);
        }
        
        .banner-content {
            @include full();
        }       
    }
        

    /* NAVIGATION */


    
    /* STAGE */
    .stage {
        > div {
            @include grid-container(false);
        }
        hgroup {
            @include full();
        }
    }   
   
    /* CONTENT */
    .content {
        @include grid-container(false);
        @include grid-background($total-cols, $col-width, $gutter-width, $side-gutter-width);


        @include padding-leader(2);
        @include padding-trailer(2);

    }
   
    
    /* MAIN */
    div[role="main"] {
        clear: none;        
        @include reset-column();
        @include alpha();
        @include columns(12);
        @include suffix(1);
        @include padding-trailer(2);
    }


    /* COMPLIMENTARY */
    aside[role="complementary"] {
        margin-left: 0;
        clear: none;
          
        @include columns(4);
        @include omega();

        section {
            @include trailer(1, $base-font-size);
        }

        ul, div, article {
            @include adjust-font-size-to($sidebar-font-size);
            @include trailer(1);
        }

        ul {
        }

        li {
            @include padding-leader(0.5, $sidebar-font-size);
        }  
    
        .social {
            @include adjust-font-size-to($base-font-size, 1, $base-font-size);


            li {
                width: 100%;
                display: block;
            }

            a {
    
            }
        }

        #tweets li {
            padding-left: 0.5em;
            padding-right: 0.5em;

        }        
    }


    
    
    /* CONTENTINFO */

    #footer-container {
        @include grid-container(false);
    }

    #footer-content {
        @include full();
    }

}/*/mediaquery*/
