@media only screen and (min-width: 992px) {

    /* ROOT */
    $total-cols : 16;
    $col-width : 3em;
    $gutter-width : 0.75em;
    $side-gutter-width: 1.5em;

    #container {
    }
    /* HEADINGS */
    /* TYPOGRAPHY */
    /* LINKS */
    /* FIGURES & IMAGES */
    /* TABLES */
    /* FORMS */
    /* BANNER */
    header[role=banner] {
        .banner-container {
            @include grid-container(false);
        }
        
        .banner-content {
            @include full();
        }       
    }
        

    /* NAVIGATION */


    
    /* STAGE */
    .stage {
        > div {
            @include grid-container(false);
        }
        hgroup {
            @include full();
        }
    }   
   
    /* CONTENT */
    .content {
        @include grid-container(false);
        @include susy-grid-background;

        @include padding-leader(2, $base-font-size);
        @include padding-trailer(2, $base-font-size);

    }
    
    /* MAIN */
    div[role="main"] {
        clear: none;        
        @include reset-column();
        @include alpha();
        @include columns(12);
        @include suffix(1);
    }


    /* COMPLIMENTARY */
    aside[role="complementary"] {
        margin-left: 0;
        clear: none;        
        @include columns(4);
        @include omega();

        section {
            ul, div, article {
                @include adjust-font-size-to(13px);
            }
        }   
    }
    
    .social {
        li {
            width: 100%;
            display: block;
        }
    }
    
    /* CONTENTINFO */

    #footer-container {
        @include grid-container(false);
    }

    #footer-content {
        @include full();
    }

}/*/mediaquery*/
