@media only screen and (min-width: 992px) {

	/* ROOT */
	$total-cols : 10;
	$col-width : 5em;
	$gutter-width : 1em;
	$side-gutter-width : 2em;

	#container {
		@include container;
		@include susy-grid-background;
	}
	/* HEADINGS */
	/* TYPOGRAPHY */
	/* LINKS */
	/* FIGURES & IMAGES */
	/* TABLES */
	/* FORMS */
	/* BANNER */
	header[role="banner"] {
		div {
			@include full();
		}
	}
	/* NAVIGATION */
   
	/* CONTENT */
	.content {
		@include columns(10);
		clear: none;
		@include omega();
		margin-left: 0;
		@include padding-leader(2, $base-font-size);
		@include padding-trailer(2, $base-font-size);

	}
	/* MAIN */
	div[role="main"] {
		@include columns(8, 10);
		@include suffix(1,10);
		@include alpha(true);
		clear: none;
		margin-left: 0;
	}

	#skills {
		width: 95%;
	}

	/* COMPLIMENTARY */
	aside[role="complementary"] {
		@include columns(2, 10);
		@include omega(true);
		clear: none;
		margin-left: 0;
		@include leader(3, $base-font-size);
	
		h1 {
			@include adjust-font-size-to($base-font-size);
		}
	}

}/*/mediaquery*/
