<section>
	<h1>Where to find me</h1>
	<ul class="social">
		<li><a href="http://twitter.com/richardbausek" target="_blank" class="social-twitter" >Twitter</a></li>
		<li><a href="https://github.com/artibella" target="_blank" class="social-github">Github</a></li>
		<li><a href="https://plus.google.com/106338048357540939674/" target="_blank" class="social-google" >Google Plus</a></li>
		<li><a href="http://www.delicious.com/berserka" class="social-delicious">Delicious</a></li>
		<li><a href="https://www.xing.com/profile/Richard_Bausek" target="_blank" class="social-xing">Xing</a></li>
		<li><a href="http://www.lastfm.de/user/colonelpanik" target="_blank" class="social-lastfm">Last.fm</a></li>
		<li><a href="http://soundcloud.com/berserka" target="_blank" class="social-soundcloud">Soundcloud</a></li>
	</ul>
</section>