---
layout: default
---
<header class="stage">
    <div itemscope itemtype="http://schema.org/Person">
      <hgroup>
        <h1>Hi there!</h1>
        <h2>My name is <span itemprop="name">Richard Bausek</span> and I'm an <span itemprop="jobTitle">interactive developer</span> passionate about user experience, interface and interaction design.</h2>
      </hgroup>
  </div>    
</header>
<div id="content" class="content" data-role="content-primary">
    <div role="main">
        {{ content }}
        {% unless page.footer == false %}
        <footer>
            {% if page.date or page.author %}<p class="meta">
                {% if page.author %}{% include post/author.html %}{% endif %}
                {% include post/date.html %}
                {% if page.categories %}{% include post/categories.html %}{% endif %}
            </p>{% endif %}
            {% unless page.sharing == false %}
                {% include post/sharing.html %}
            {% endunless %}
        </footer>
        {% endunless %}

        {% if site.disqus_short_name and page.comments == true %}
        <section>
            <h1>Comments</h1>
            <div id="disqus_thread">{% include post/disqus_thread.html %}</div>
        </section>
        {% endif %}
        </div>
    {% unless page.sidebar == false %}
    <aside role="complementary">
      {% if site.page_asides.size %}
        {% include_array page_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
    </aside>
    {% endunless %}
</div>
