{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
    <div id="container">
        <header role="banner">
            <div class="banner-container">
                <div class="banner-content">
                    {% include header.html %}
                    <nav role="navigation" id="navigation">
                    {% include navigation.html %}
                    </nav>                
                </div>
            </div>
        </header>
        {{ content | expand_urls: root_url | backtick_codeblock | smart_quotes }}
        <footer role="contentinfo" data-role="footer">{% include footer.html %}</footer>
    </div>
    {% include custom/footer_js.html %}
</body>
</html>