$grid-background-baseline-height: $base-line-height;
$show-column-grid-backgrounds: true;
$show-baseline-grid-backgrounds: true;
$show-grid-backgrounds: false;

/* ROOT */
/* 
 * base layout for mobile portrait:
 * (5*16) * 3 + (2*16) + (2*24) = 320
*/

$total-cols : 3;
$col-width : 5em;
$gutter-width : 1em;
$side-gutter-width : 1.5em;

.group {
	@include pie-clearfix;
}


html {
	overflow-y : scroll;
}


body { 
	margin : 0 auto;
	padding : 0;
	color : $font-color;
	background: $page-bg;
	position: relative;
}


#container {
	@if $show-grid-backgrounds {
	} @else {
		background: $main-bg;
	}	
}

#page {
	@extend .group;
}

/* BANNER */

header[role=banner] {
	@include padding-leader(1);
	@include padding-trailer(1);
	background: $header-bg;
	
	> div {
		@include container();
	}
	
	strong {
		font-family: $serif-font;
		@include adjust-font-size-to(48px,1);
		text-transform: lowercase;
	}	
}

#header-content {
	@include full();
}

/* CONTENT */



.content {
	@include container();
	@include susy-grid-background;
	
	@include padding-leader(2);
	@include padding-trailer(2);

	section {
		@include trailer(2);
	}

}


/* MAIN */
div[role="main"] {
    @include trailer(2);
		@include full();
}

#about header {
	text-shadow: lighten($main-bg, 8) 0 1px;

    h1 {
        color: $link-color;
	    @include adjust-font-size-to(44px, 2, $base-font-size);
	    @include trailer(0.5, 48px);
    }
}

/* COMPLIMENTARY */

aside[role="complementary"] {
	@include full();

	section {
		@include trailer(1);
	}
}
