// Grid debugging settings
$grid-background-baseline-height: $base-line-height;
$show-column-grid-backgrounds: true;
$show-baseline-grid-backgrounds: true;
$grid-background-offset: 0em;
$grid-background-force-fluid: true;
$grid-background-column-color: rgba(142, 142, 142, 0.10);
$grid-background-baseline-color: rgba(0,0,0,0.05);

$show-grid-backgrounds: false;

// Main Section Colors
$main-bg: #F2F2F2 !default;
$page-bg: $main-bg !default;

// Main Text Colors
$text-color: #595959 !default;
$text-color-light: #aaa !default;
$heading-color: lighten($text-color, 10%) !default;

// Main Link Colors
$link-color: #F98D21 !default;
$link-color-hover: adjust-color($link-color, $lightness: -5, $saturation: 70) !default;
$link-color-visited: $link-color !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;


$selected-font-color: #001624;  // color for selected text
$selected-background-color: #B7D7FF;  // bg-color for selected text

// Border settings
$border-color: darken($main-bg, 7) !default;;
$type-border: 4px solid #ddd;
$shadow-border-color: #ffffff;
$default-rhythm-border-style: solid;

/* Header Banner */
$banner-bg: $main-bg !default;
$banner-color: $text-color !default;
$banner-border: none !default;
$banner-link-color: $link-color !default;
$banner-link-color-hover: $link-color-hover !default;
$banner-title-color: $text-color !default;
$banner-subtitle-color: $text-color !default;


/* Navigation */
$nav-bg: transparent !default;
$nav-color: $link-color !default;
$nav-color-hover: $link-color-hover !default;

/* Stage */
$stage-bg: lighten($main-bg, 2%) !default;
$stage-title-color: $heading-color !default;
$stage-subtitle-color: $text-color !default;

/* Box Shadows */
$default-box-shadow-color: darken($border-color, 10%);
$default-box-shadow-blur: 10px;
$default-box-shadow-spread: false;


/* Sidebar colors */
$sidebar-bg: $main-bg !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: $text-color !default;
$border-color: $border-color !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;


/* Footer colors */
$footer-bg: $main-bg !default;
$footer-color: $text-color !default;
$footer-color-hover: lighten($footer-color, 10) !default;
$footer-link-color: $link-color !default;
$footer-link-color-hover: $link-color-hover !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}

a {
  @include transition(color .25s);
}


