$sans-font: "Nobile", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "Helvetica", "Gill Sans", sans-serif;
$serif-font: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
$monospace-font: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace;
$mono: $monospace-font;

$base-font-family: $sans-font;  // default font-family
$base-font-size: 16px;
$base-line-height: 24px;

$blockquote: $type-border !default;
$list-left-margin: 1em !default;  // left margin for ul an ol


// Fonts
.sans {
	font-family: $sans-font;
}
.serif {
	font-family: $serif-font;
}

.mono {
	font-family: $monospace-font;
}

body { 
	font-family: $base-font-family;
}

@include establish-baseline();

/* HEADINGS */
@import "partials/headings";


a {
	outline : none;
	text-decoration : none;
}
 
a:hover { 
	outline : none;
	text-decoration : none; 
}
 
a:focus { 
	outline : none;
}

p, 
ol, 
ul, 
dl,
address { 
	@include trailer(1);
}

ul, 
ol { 
	margin-left : $list-left-margin; 
	@include trailer(1);
}

ul { 
	list-style-type : disc;

	ul {
		list-style-type: circle;
  
		ul {
			list-style-type: square;
		}
	}

}


ol { 
	list-style-type : decimal;
	ol {
		list-style-type: lower-alpha;
    	ol {
			list-style-type: lower-roman;
		}
	}	
}

li ul, 
li ol { 
	margin : 0;
}

dl, dd { 
	@include trailer(1);
}

dt { 
	font-weight : bold;
}

blockquote  { 
	margin-left : $list-left-margin; 
	padding-left: 0;
	@include trailer(1);
	border-left : 1px solid rgb(200,200,200);
	font-style : italic;
}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content : '';
	content : none;
}

blockquote {
	$bq-margin: 1.2em;
	font-style: italic;
	position: relative;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-left: 1em;
	border-left: 4px solid rgba($text-color-light, .5);
	cite {
    	font-style: italic;
    	a {
			color: $text-color-light !important; 
			word-wrap: break-word;
		}
    	&:before {
			content: '\2014';
			padding: {right: .3em; left: .3em;}
			color: $text-color-light;
		}
	}
	
	@media only screen and (min-width: 992px) {
    	padding-left: 1.5em;
		border-left-width: 4px;
	}
}


b, strong	{ 
	font-weight : bold;
}

i, em { 
	font-style : italic;
}

sup, sub {
	font-size: 0.8em;
	position: relative;
	display: inline-block;
	line-height: 0;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.5em;
}

q { font-style: italic;
  &:before { content: "\201C"; }
  &:after { content: "\201D"; }
}

address { 
	font-style : normal;
}

del, s {
	text-decoration: line-through;
}

abbr, acronym {
	border-bottom: 1px dotted; cursor: help;
}


pre { 
	@include trailer(1);
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word;
}

pre, code { 
	font-family: $monospace-font;
	@include adjust-font-size-to($base-font-size);
}


hr { margin-bottom: 0.2em; }

small { font-size: .8em; }

big { font-size: 1.2em; }



.has-pullquote:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
