@mixin mask-image($img, $repeat: no-repeat){
  @include experimental(mask-image, image-url($img), -webkit, -moz, -o, -ms);
  @include experimental(mask-repeat, $repeat, -webkit, -moz, -o, -ms);
  width: image-width($img);
  height: image-height($img);
}

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@mixin no-select() {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin reset-select() {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}



@function text-color($color, $dark: dark, $light: light){
  $text-color: ( (red($color)*299) + (green($color)*587) + (blue($color)*114) ) / 1000;
  $text-color: if($text-color >= 150, $dark, $light);
  @return $text-color;
}

@mixin grid-container($applyClearfix: true) {
    @if $applyClearfix {
        @include pie-clearfix;
    }
    margin: auto;
    width: columns-width();
    max-width: 100%;
}


@mixin apply-side-shadow-border($side, $size: 1px, $shadow-size: 1px, $color: $border-color, $shadow-color: $shadow-border-color, $lines: 1, $font-size: $base-font-size) {

    @include apply-side-rhythm-border($side, $size, $lines, $font-size);
    border-#{$side}-width: $size; /* reset to pixel due to Webkit not rendering small em based borders */        
    border-#{$side}-color: $color;
    
    @if $side == bottom {
	    @include box-shadow($shadow-color 0 $shadow-size);
        border-bottom-width: $size; /* reset to pixel due to Webkit not rendering small em based borders */
        border-bottom-color: $color;
    } @else if $side == top {
        @include box-shadow($color 0 -#{$shadow-size});
        border-top-color: $shadow-color;
    } @else {
        @include box-shadow($shadow-color 0 $shadow-size );
    }
}

@mixin remove-shadow-border() {
    border: none;
    @include box-shadow(none);
}

@mixin top-shadow-border($size: 1px, $shadow-size: 1px, $color: $border-color, $shadow-color: $shadow-border-color, $lines: 1, $font-size: $base-font-size) {
    @include apply-side-shadow-border(top, $size, $shadow-size, $color, $shadow-color, $lines, $font-size);
}

@mixin bottom-shadow-border($size: 1px, $shadow-size: 1px, $color: $border-color, $shadow-color: $shadow-border-color, $lines: 1, $font-size: $base-font-size) {
    @include apply-side-shadow-border(bottom, $size, $shadow-size, $color, $shadow-color, $lines, $font-size);
}
