#archive {
    #content > div { 
        &, > article {
            padding-top: 0; 
        }
    }
}

#blog-archives {
    color: $text-color-light;
    @include trailer(1);

    article {
        @include rhythm(1, 0, 1, 0);
        position: relative;


        footer {
            @include rhythm(0, 0, 0, 0);
        }

    }

    h2 {
        display: none;
    }
    
    h1 {
        @include adjust-font-size-to(20px);
        @include trailer(0);
        color: $text-color;

        a {
            @include hover-link;
            color: inherit;

            &:hover { 
                color: $link-color-hover;
            }
            display: inline-block;
        }
    }

    a.category, time {
        @extend .sans;
        color: $text-color-light;
    }

    
    .entry-content { display: none; }
    
    time {
        @include adjust-font-size-to(14px);
        .month, .day { display: inline-block; }
        .month { text-transform: uppercase; }
    }

    p { 
        @include trailer(1);
    }
    &, .entry-content { 
        a {
            @include link-colors(inherit, $link-color-hover);
        }
    }
    a:hover { color: $link-color-hover; }
   
    @media only screen and (min-width: 550px) {
        
        article { 
            margin-left: 5em;
            padding-left: 5em;
            @include padding-trailer(1);
        }

        h2 {
            margin-bottom: .3em;
            display: inline-block;
            position: relative; 
            top: 0;
            float: left;
            @include padding-leader(0.75);

        }
        time {
            position: absolute;
            text-align: right;
            left: 0em;
            top: 1.8em;
        }
        
        .year { display: none; }
        

    }


}