@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/typography";
@import "compass/utilities/sprites";
@import "susy";



$sans-font: "Nobile", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "Helvetica", "Gill Sans", sans-serif;
$serif-font: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
$monospace-font: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace;
$mono: $monospace-font;

$base-font-family: $sans-font;  // default font-family
$base-font-size: 16px;
$base-line-height: 24px;
$grid-background-baseline-height: $base-line-height;
$show-column-grid-backgrounds: true;
$show-baseline-grid-backgrounds: true;
$show-grid-backgrounds: false;





