/* CONTENTINFO */
footer[role="contentinfo"] {
 	@extend .sans;

	@include padding-trailer(1, 12px);
	color: $footer-color;
	background: $footer-bg;
	text-shadow: lighten($footer-bg, 5) 0 1px;
	background-color: $footer-bg;
	@include padding-leader(0.5);
	@include padding-trailer(0.5);	
	
	a {
		@include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
	}
	
	p {
		@include trailer(0);
	}
}

#footer-content {
	@include adjust-font-size-to(12px);
}