header[role="navigation"] {
	background: $header-bg;
	
	> div {
		@include container();
	}
	
	h1 {
		@extend .sans;
		@include adjust-font-size-to($base-font-size);
		display: inline-block;
		text-transform: uppercase;
		font-weight: normal;
  
		a, a:visited, a:hover {
			color: $title_color;
			text-decoration: none;
		}
	}

	h2 {
		margin: .2em 0 0;
		@extend .sans;
		font-size: 1em;
		color: $subtitle-color;
		font-weight: normal;

	}	
}
