$h1-size: 24px;
$h2-size: 20px;

.heading {
  font-family: $serif-font;
}

#{headings()} {
	@extend .serif;
	font-weight : bold;
	text-rendering: optimizelegibility;
	color: darken($font-color, 10);
}

h1 { 
	@include adjust-font-size-to($h1-size);
	@include trailer(1,$base-line-height);
}


h2, section h1, article h1, aside h1 {
	@include adjust-font-size-to($h2-size, 1);
	@include trailer(1,$h2-size);
}

h3,
section h2, 
section section h1 { 
	@include adjust-font-size-to(20px, 1);
	@include trailer(1, 20px);
}

h4,
section h3, 
section section h2, 
section section section h1 { 
	@include adjust-font-size-to(20px);
	@include trailer(1,$base-line-height);
}

h5, 
section h4, 
section section h3 { 
	@include adjust-font-size-to($base-font-size);
	@include trailer(1);
}

h6,
section h5, 
section section h4, 
section section section h3 { 
	@include adjust-font-size-to($base-font-size);
}