/* NAVIGATION */
nav[role="navigation"] {
	background: #ffffff;
	@include single-box-shadow();

	margin: 0;
	ul {
		list-style: none;
		@include adjust-font-size-to(18px);
		margin: 0;
		
		a {
			height: 100%;
			background: #FFFFFF;
			border-bottom: 1px solid $border-color;
			padding: 8px 8px;
			text-transform: uppercase;
			display: block;
			@include box-shadow(0);
			@include transition-property(all);
			@include transition-duration(0.25s);
		}
		a:hover {
			@include box-shadow(10px);
			text-decoration: none;
			background: $link-color-hover;
			color: #ffffff;
		}
	}
}