
a, 
a:visited {
	outline : none;
	color : $link-color;
	text-decoration : none;
}
 
a:hover { 
	outline : none;
	color : $link-hover-color; 
	text-decoration : none; 
}
 
a:active, 
a:focus { 
	outline : none;
	color : $link-active-color; 
}

p, 
ol, 
ul, 
dl, 
address { 
	@include trailer(1);
}

ul, 
ol { 
	margin-left : $list-left-margin; 
	@include trailer(1);
}

ul { 
	list-style-type : disc;
}

ol { 
	list-style-type : decimal;
}

li ul, 
li ol { 
	margin : 0;
}

dl, dd { 
	@include trailer(1);
}

dt { 
	font-weight : bold;
}

blockquote  { 
	margin-left : $list-left-margin; 
	padding-left: 0;
	@include trailer(1);
	border-left : 1px solid rgb(200,200,200);
	font-style : italic;
}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content : '';
	content : none;
}

b, strong	{ 
	font-weight : bold;
}

i, em { 
	font-style : italic;
}

sup, sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0;
}

sup { 
	top : -.5em;
}

sub { 
	bottom : -.25em;
}

address { 
font-style : normal; }

pre { 
	@include trailer(1);
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word;
}

pre, code { 
	font-family: $monospace-font;
	@include adjust-font-size-to($base-font-size);
}

small {
	font-size : 1em;
}

