aside[role=complementary] {
	color: $sidebar-color;
	text-shadow: lighten($sidebar-bg, 8) 0 1px;
  
	a { @extend .force-wrap; }

	ul {
		@include trailer(1);
		margin-left: 0;
        list-style: none;
		@include top-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0);
	}
	
	li {
    	list-style: none;
		@include bottom-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0.5);
		@include padding-leader(0.5);
		margin: 0;
		@include transition-property(all);
		@include transition-duration(0.3s); 


		p:last-child {
		  margin-bottom: 0;
		}		


		&:hover {
			background: darken($main-bg, 2.5%);
		}
  	}
  	
  	a { 		
  	  	color: inherit;
  	}
  	
  	&:hover a {
    	color: $sidebar-link-color;
    	&:hover { color: $sidebar-link-color-hover; }
  	}
}

.aside-alt-link {
  color: $sidebar-link-color-subdued;
  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}
