

.side-shadow-border {
    @include bottom-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0.5);
/*  border-color: $sidebar-border;  
    @include box-shadow(lighten($sidebar-bg, 5) 0 1px);*/
}

aside[role=complementary] {
	color: $sidebar-color;
	text-shadow: lighten($sidebar-bg, 8) 0 1px;
  
	a { @extend .force-wrap; }

	section {
    	@extend .sans;
    	@include adjust-font-size-to(13px);
        @include trailer(2,13px);
    	
		h1 {
			@include trailer(1);

      		+ p {
        		padding-top: .4em;
      		}
    	}
  	}

	ul {
		@include trailer(1);
		margin-left: 0;
        list-style: none;
        @include top-shadow-border(1px, 1px, $sidebar-border, $shadow-border-color, 0);
	}
	
	li {
    	list-style: none;
		@include padding-leader(0.5);
		margin: 0;
		@extend .side-shadow-border;
		
		p:last-child {
		  margin-bottom: 0;
		}
  }
  a {
    color: inherit;
    @include transition(color .5s);
  }
  &:hover a {
    color: $sidebar-link-color;
    &:hover { color: $sidebar-link-color-hover; }
  }
}
.aside-alt-link {
  color: $sidebar-link-color-subdued;
  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}
