$social-spacing: 10px;
@import "social/*.png";
@include all-social-sprites;


.social {
	list-style: none;
	margin: 0;
	

	aside[role="complementary"]  & li {
		@include padding-leader(0.5, $base-line-height);
	}

	a {
		@include transition-property(all);
		@include transition-duration(0.3s); 		
		padding-left: 48px;
		@include padding-leader(0.25, $base-line-height);
		@include padding-trailer(0.25, $base-line-height);
		display: block;
		height: $base-line-height;

		&:hover {
			margin-left: 0.75em;	
		}
	}
}